@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400..900&display=swap');

.Ubuntu-default {
    font-family: "Ubuntu", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    background-image: url('./assets/images/body-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Ubuntu, sans-serif;
}

@import "tailwindcss";

.container {
    padding: 0 70px;
}

@media (max-width: 410px) {
    .container {
        padding: 0 20px;
    }
}


.hero {
    background-image: url('./assets/images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 200px 70px;
}