@import "tailwindcss";

.container {
    padding: 0 65px;
}

@media (max-width: 410px) {
    .container {
        padding: 0 20px;
    }
}
body{
    background-image: url('../public/images/body-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}